<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/footer.css">
</head>
<body>
    <footer>
        <div class="footer-container">
          <div class="footer-about three-box">
            <h3>About Us</h3>
            <p>We provide top-notch marketing solutions to help your business grow.</p>
          
          </div>
          <div class="footer-info three-box">
            <h3>Contact Info</h3>
            <p><strong>Address:</strong> Kathmandu, Nepal</p>
            <p><strong>Phone:</strong> 9864240000</p>
            <p><strong>Email:</strong> marketingmandu@gmail.com</p>
          </div>
      
          <div class="footer-links three-box">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 Marketing Mandu. All rights reserved.</p>

        </div>
      </footer>
      
</body>
</html>