<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <style>
   @font-face {
    font-family: navbar;
    src: url("/fonts/Geliat-ExtraBold.otf");
   }
    

    nav a {
      float: left;
      display: block;
      color: #000000;
      text-align: center;
      margin: 0.5vw 1vw;
      text-decoration: none;
      font-size: 1vw;
      font-weight: 700;
    }
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 999;
      overflow: hidden;
      background-color: #ffffff;
      padding: 1vw 1.5vw;
      font-family: poppins;
      width: 100%;

    }
    .login-btn{
    text-decoration:none ;
    cursor: pointer;
    font-family: poppins;
    font-size: 1vw;
    padding: 1.1vw 2vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    color: #000000;
    }
    .register-btn{
    cursor: pointer;
    font-family: poppins;
    font-size: 1.1vw;
    padding: 1.1vw 3vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    color: #000000;
    background:#6cc832; 
    font-weight: 700;
    text-decoration: none;
 
    }
    .logo{
    
      z-index: 2;
      font-weight: 700;
    }

    .profile{
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .profile-btn{
      text-decoration: none;
      margin: 0 1vw ;
      font-size: 1.1vw;
      font-weight: 700;
      color: #000000;
    }

    .logout-btn{
      cursor: pointer;
    font-family: poppins;
    font-size: 1.1vw;
    padding: 1vw 2vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    color: #000000;
    background:#6cc832; 
    font-weight: 700;
    text-decoration: none;
    }

  </style>
</head>
<body>

  <header class="header">
    <p class="logo">Marketing</p>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/services">Services</a>
      <a href="/contact">Get in Touch</a>
     
    </nav>
    <div>
      <% if (userLoggedIn) { %>
        <div class="profile">
          <a href="/user/profile" class="profile-btn">Profile</a>
          <a href="/auth/logout" class="logout-btn">Logout</a>
          
        </div>
      <% } else { %>
        <a href="/auth/login" class="login-btn">Login</a>
        <a href="/auth/register" class="register-btn">Register</a>
      <% } %>
    </div>
  </header>
  

</body>
</html>