*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: minigap;
    src: url("../fonts/Gravitype\ -\ Minigap.otf");
}

.home-page{
    width: 100%;
    height: 100vh;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.first-overlay{
    position: absolute;
    top: -8vw;
    left: 0;
    width: 30%;
}
.second-overlay{
    position: absolute;
    top: -12vw;
    right: 0;
    width: 40%;
    z-index: -1;
}
.main-home{
    width: 100%; 
}
.main-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    z-index: 11;
    padding: 0 1vw;
}
.right-box{
    padding: 1vw;
    height: 100%;
    width: 50%;
    z-index: 11;
    position: relative;
}
.home-right-img1{
    height: 25vw;
    position: absolute;
    top: 5vw;
    left: 2vw;
    z-index: 11;
    border-radius: 0.8vw;
}
.home-right-img2{
height: 25vw;
position: absolute;
    top: 15vw;
    right: 5vw;
    border-radius: 0.8vw;
}
.home-page-sml-txt{
    color: #000000;
    font-size: 0.9vw;
    font-family: poppins;
    border-radius: 15vw;
    font-weight: 700;
}
.main-home-text{
    font-family: poppins;
    
    color: #000000;
    font-size: 4vw;
    text-align: start;
    padding: 1vw 0;
    line-height: 5vw;
}
.home-btn{
    cursor: pointer;
    font-family: poppins;
    font-size: 1.1vw;
    padding: 1.1vw 3vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    color: #000000;
  background:#9cee69;
  font-weight: 700;
}
.bottom-text{
    font-family: poppins;
    font-size: 1vw;
    color: #000000;
    padding: 1vw 0;
    text-align: start;
}

/* about us page */
.about-us-section{
   width: 100%; 
   position: relative;
}
.about-circle{
    position: absolute;
    top: -4.5vw;
    left: 45vw;
    border: 0.3vw solid #fff;
    border-radius: 10vw;
}
.about-us-page-images{
       width: 100%; 
}




/* why-choose-us */

.why-choose-us{
    padding: 2vw 0;
    width: 100%;
    background:url("../images/404-bg.png") ;
}
.two-main-choose-us{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.fist-box-choose{
    padding: 0 0 0 4vw;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5vw;
}
.inner-first-choose{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1vw;
    background-color: #fff;
    padding: 1vw;
}
.first-images{
    width: 100%;
  display: flex;
  height: 25vw;
  object-fit: cover;
  border-radius: 1vw;
    
}
.second-box-choose{
    width: 45%;
    display: flex;
    justify-content: end;
    align-items:center;
    padding:0 3vw 0 0;
   
}
.second-images{
  width: 75%;
    height: 52vw;
    object-fit: cover;
    border-radius: 1vw;
   
}

.sm-text{
    font-family: minigap;
}
.sm-h1{
    font-size: 5vw;
    font-family: minigap;
}
.sm-pasag{
    font-family: minigap;
    font-size: 1vw;
}
.two-why-choose-us{
    padding: 1vw 2vw;
}
.choose-us{
    font-family: minigap;
    font-size: 1vw;
}
.why-choose-h1{
    font-family: minigap;
    font-size: 3vw;
}
