*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: minigap;
    src: url("../fonts/Gravitype\ -\ Minigap.otf");
}


.header-images{
    width: 100%;
    height: 25vw;
    position: relative;
    background:url("../images/inner-about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-images::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.7);
}
.header-text-h1{
    color: #fff;
    position: absolute;
    top: 40%;
    right: 45%;
    font-family: minigap;
    font-size: 2.5vw;
}
.two-link{
    color: #fff;
    position: absolute;
    top: 55%;
    right: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: minigap;
}
.home-link{
    text-decoration: none;
    color: #fff;
}
.arrow-span{
    margin: 0 0.5vw;
}
.services-link{
    color: #bdbdbd;
}

.all-services{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 100%;
    padding: 1vw 2vw;
}
.service-list{
    border: 1px solid green;
}
.services-name{
    font-size: 1.5vw;
    font-family: minigap;
}
.services-description{
    font-size: 1vw;
    font-family: minigap;
}
.services-price{
    font-family: minigap;
    font-size: 1.2vw;
}
.book-services-btn{
    font-size: 1vw;
    font-family: minigap;
    cursor: pointer;
    padding: 1.1vw 3vw;
    border-radius: 0.2vw;
    outline: none;
    border: none;
    color: #000000;
  background:#9cee69;
  font-weight: 700;
}
.question-and-answer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #100F0F;
    padding: 1vw 2vw;
}
.question-images{
    display: flex;
    width: 35%;
    background-color: green;
}
.faq-images{
    height: 40vw;
    width: 100%;
    object-fit: cover;
    
}
.question-details{
width: 50%;
border: 1px solid red;
padding: 2vw 1vw;
}
.question-lg-text{
    font-family: minigap;
    font-size: 3vw;
    color: #fff;
}
.question-answe-sm-text{
    color: #fff;
    font-size: 1vw;
    font-family: minigap;
}
summary{
    color: #ffffff;
    font-size: 1.2vw;
    font-family: minigap;
}
.summary-text{
    font-size: 1vw;
    font-family: minigap;
    color: #bdbdbd;
    padding: 1vw;
}
details{
    margin: 0.5vw 0;
}