<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/about.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="header-images">
        <h1 class="header-text-h1">About us</h1>
    
        <div class="two-link"><a href="/" class="home-link">Home</a> <span class="arrow-span">></span> <p class="services-link">About us</p></div>
    
       </div>
    <div class="main-about-container">
        <div class="main-about-description">
            <% if (aboutData) { %>
                <h2 class="about-title-main"><%= aboutData.name %></h2>
                <p class="about-description"><%= aboutData.description %></p>
            <% } else { %>
                <p>No About Us content available.</p>
            <% } %>
        </div>
        <div class="about-images">

        </div>
    </div>

    <div class="about-bottom-style">
<div class="first-images-bottom">
    <img src="../images/intro1.jpg" alt="">
    <p class="overlay-text">
       <span class="first-abt-span">7k+ </span> <br>
Satisfaction <br>
Clients
    </p>
</div>
<div class="second-text-bottom">
    <div class="first-title">
        <p class="about-btm-p">Who we are?</p>
    <h1 class="about-btn-h1">Marketing Mandu globally with innovative strategies and visionary design</h1>
    </div>

    <div class=" two-list ">
       <div class="first-list">
        <h3>What's Our Mission</h3>
        <p>How quick is quick? For most design, we’re talking 2-3 business days. We balance speed with quality,ensuring you get top-north design swiftly</p>
       </div>
       <div class="first-list">
        <h3>Our Culture & Our Studio</h3>
        <p>How quick is quick? For most design, we’re talking 2-3 business days. We balance speed with quality,ensuring you get top-north design swiftly</p>
       </div>
    </div>

</div>
    </div>



    <%- include('partials/footer') %> 
</body>
</html>