<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheet/home.css">
</head>
<body>

   <%- include('partials/header') %> 

   <div class="main-home">
    <section class="home-page">

  <div class="main-text-box">
    <p class="home-page-sml-txt">We Design websites that matter, user’s can’t resist</p>
    <h1 class="main-homme-text">
      Design That Powers Real Business Growth
    </h1>
    <p class="bottom-text">
      We are dedicated to guiding you on your financial journey with expertise, integrity and a personalized approach. we’re highly dedicated to financial journey
    </p>
  </div>
      
 <button class="home-btn">Get Started</button>
    </section>
    
    <!-- about section -->
<section class="about-us-section">
  <img src="../images/button-1.webp" class="about-circle">
<img src="../images/about.webp" alt="" class="about-us-page-images">
</section>

<section class="why-choose-us">
  <div class="two-why-choose-us">
    <h2 class="choose-us">Why Choose us</h2>
    <h1 class="why-choose-h1">
      Results that we sucessfully deliver
    </h1>
  </div>
  <div class="two-main-choose-us">
    <div class="fist-box-choose">
      <div class="inner-first-choose">
        <img src="../images/h1_img-2.jpg" alt="" class="first-images">
      </div>
      <div class="inner-first-choose">
        <p class="sm-text">project Completed</p>
        <div class="sm-box">
          <h1 class="sm-h1">150+</h1>
        <p class="sm-pasag">Over 400 successful projects delivered to our clients worldwide.</p>
        </div>
      </div>
      <div class="inner-first-choose">
        <p class="sm-text">satisfied customers</p>
        <div class="sm-box">
          <h1 class="sm-h1">98%</h1>
        <p class="sm-pasag">A 98% satisfaction rate across all our consulting services.</p>
        </div>
      </div>
      <div class="inner-first-choose">
        <p class="sm-text">hours saved</p>
        <div class="sm-box">
          <h1 class="sm-h1">843K+</h1>
        <p class="sm-pasag">Our efficiency strategies have saved clients over 800,000 hours collectively.</p>
        </div>
      </div>
    </div>
    <div class="second-box-choose">
      <img src="../images/h1_img-3.jpg" alt="" class="second-images">
    </div>
  </div>
</section>
   </div>
 
   <%- include('partials/footer') %> 
</body>
</html>