<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheet/home.css">
</head>
<body>

  <style>
    .alert {
  background-color: #065908;
  color: white;
  padding: 15px;
  margin-top: 20px;
  right: 0;
  text-align: center;
  position: absolute;
}

  </style>
   <%- include('partials/header') %> 

   <div class="main-home">
    <% if (successMessage.length > 0) { %>
      <div class="alert alert-success" id="successMessage"><%= successMessage %></div>
    <% } %>
  
    <% if (errorMessage.length > 0) { %>
      <div class="alert alert-danger" id="errorMessage"><%= errorMessage %></div>
    <% } %>
    
    <section class="home-page">

  <img src="../images/image-startup-1.png" alt="" class="first-overlay">

  <div class="main-text-box">
    <p class="home-page-sml-txt">Trusted by 3000+ Peoples</p>
    <h1 class="main-home-text">
      We offer expert SEO & marketing services
    </h1>
    <p class="bottom-text">
      We are dedicated to guiding you on your financial journey with expertise, integrity and a personalized approach. we’re highly dedicated to financial journey
    </p>
    <button class="home-btn">Get Started</button>
  </div>
  
  
  <div class="right-box">
    <img src="../images/right-img1.jpg" alt="" class="home-right-img1">
    <img src="../images/right-img2.jpg" alt="" class="home-right-img2">
  </div>

  <img src="../images/image-startup-2.png" alt="" class="second-overlay">
 
    </section>
    
    <!-- about section -->
<section class="about-us-section">
  <img src="../images/button-1.webp" class="about-circle">
<img src="../images/about.webp" alt="" class="about-us-page-images">
</section>

<section class="why-choose-us">
  <div class="two-why-choose-us">
    <h2 class="choose-us">Why Choose us</h2>
    <h1 class="why-choose-h1">
      Results that we sucessfully deliver
    </h1>
  </div>
  <div class="two-main-choose-us">
    <div class="fist-box-choose">
      <div class="inner-first-choose">
        <img src="../images/h1_img-2.jpg" alt="" class="first-images">
      </div>
      <div class="inner-first-choose">
        <p class="sm-text">project Completed</p>
        <div class="sm-box">
          <h1 class="sm-h1">150+</h1>
        <p class="sm-pasag">Over 400 successful projects delivered to our clients worldwide.</p>
        </div>
      </div>
      <div class="inner-first-choose">
        <p class="sm-text">satisfied customers</p>
        <div class="sm-box">
          <h1 class="sm-h1">98%</h1>
        <p class="sm-pasag">A 98% satisfaction rate across all our consulting services.</p>
        </div>
      </div>
      <div class="inner-first-choose">
        <p class="sm-text">hours saved</p>
        <div class="sm-box">
          <h1 class="sm-h1">843K+</h1>
        <p class="sm-pasag">Our efficiency strategies have saved clients over 800,000 hours collectively.</p>
        </div>
      </div>
    </div>
    <div class="second-box-choose">
      <img src="../images/h1_img-3.jpg" alt="" class="second-images">
    </div>
  </div>
</section>
   </div>
 
   <%- include('partials/footer') %> 

   <script>
    // Auto-hide flash messages after 5 seconds
    setTimeout(() => {
      const successMessage = document.getElementById("successMessage");
      

      if (successMessage) {
        successMessage.style.transition = "opacity 0.5s";
        successMessage.style.opacity = "0";
        setTimeout(() => successMessage.remove(), 500);
      }

      
    }, 5000);
  </script>
</body>
</html>